<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.appblade.cordova-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppBlade</name>
    <js-module name="AppBlade" src="www/AppBlade.js">
        <clobbers target="cordova.plugins.AppBlade" />
    </js-module>
</plugin>
