<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.appblade.cordova.plugin"
    version="0.9.0">
    <name>AppBlade SDK</name>
	<description>AppBlade's Official Cordova Plugin</description>
	
	<keywords>android,ios,crash,reporting,feedback,mam,killswitch</keywords>

	
    <engines>
        <engine name="cordova" version=">=2.5.0" />
    </engines>
	
    <access origin="*appblade.com" />
    <asset src="www/AppBlade.js" target="plugins/AppBlade.js" />

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="AppBlade">
        		<param name="ios-package" value="AppBladePlugin" />
			</feature>

        </config-file>


        <header-file src="src/ios/AppBlade.h" />
        <header-file src="src/ios/AppBladePlugin.h"/>
        <source-file src="src/ios/AppBladePlugin.m" />
        <source-file src="src/ios/libAppBladeUniversal.a" framework="true"/>

        <resource-file src="src/ios/AppBladeKeys.plist" target-dir="/" />
        <resource-file src="src/ios/ResourceRules.plist" target-dir="/" />


        <framework src="Security.framework"/>
    
        <info>
        	AppBlade iOS Plugin Installed
			Make sure you add &lt;script type="text/javascript" src="plugins/AppBlade.js"&gt;&lt;/script&gt; to your index.html:
	    	And have taken the additional steps documented at https://github.com/AppBlade/SDK-PhoneGap-Plugin#installation---ios
	    </info>
    </platform>
    <!-- android -->
    <platform name="android">

        <header-file src="src/android/AppBladePlugin.java" target-dir="src/com/$PACKAGE_NAME/plugins" />
        <source-file src="src/android/AppBlade\ Framework.a" target-dir="src/lib/" />
		<framework src="httpmime-4.1.2.jar" />
        <info>
        	AppBlade Android Plugin Installed 
			Make sure you add &lt;script type="text/javascript" src="plugins/AppBlade.js"&gt;&lt;/script&gt; to your index.html:
	    	And have taken the additional steps documented at https://github.com/AppBlade/SDK-PhoneGap-Plugin#installation---android
	    </info>
    </platform>    
</plugin>
